# Generated build
build/
DerivedData/

# XCode Project Directory - not having xcodeproj might make a project very difficult/impossible to build and xcworkspace can be useful; adding xcuserdata although it will likely not be needed
#*.xcodeproj/*
#*.xcworkspace

#*/xcuserdata/*

# Ignore information about the directory
*.DS_Store*
